.header-mobile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;

  @media only screen and (min-width: 992px) {
    display: none;
  }
}

.header__left-column {
  display: flex;
  gap: 40px;
  justify-content: flex-start;
}

.header__logo {
  margin-right: 10px;
}

.header__right-column {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
}

.header-mobile__indicator {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  font-family: "Inter", serif;
}
