.icon-description-cards-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.icon-description-cards-section__products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
    align-items: start;
}
