.styled-button {
    position: relative;
}

.styled-button--variant-underline {
    position: relative;
    height: fit-content;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid #2F240E;
    color: #2F240E;
}
.styled-button--variant-underline:hover {
    background-color: transparent;
    color: #2F240E;
}

.styled-button--variant-text {
    position: relative;
    height: fit-content;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    color: #2F240E;
}
.styled-button--variant-text:hover {
    background-color: transparent;
    color: #2F240E;
}

.styled-button--variant-transparent {
    position: relative;
    height: fit-content;
    background-color: transparent;
    border-radius: 0;
}
.styled-button--variant-transparent:hover {
    background-color: transparent;
    color: #2F240E;
}

.styled-button--variant-outline {
    position: relative;
    height: fit-content;
    background-color: #FAF6EF;
    border-radius: 0;
    border: 1px solid #2F240E;
    color: #2F240E;
}
.styled-button--variant-outline:hover {
    background-color: #FAF6EF;
    color: #2F240E;
}

.styled-button--variant-filled {
    position: relative;
    height: fit-content;
    background-color: #2F240E;
    border-radius: 0;
    border: 1px solid #2F240E;
    color: #FAF6EF;
}
.styled-button--variant-filled:hover {
    background-color: #2F240E;
    color: #FAF6EF;
}

.styled-button--variant-transparent::after {
    content: '';
    position: absolute;
    width: calc(100% - 48px);
    transform: scaleX(0);
    height: 1px;
    bottom: 4px;
    left: 24px;
    background-color: #FADE85;
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
}

.styled-button--variant-transparent-white::after {
    background-color: #FAF6EF;
}

.styled-button--variant-transparent-yellow::after {
    background-color: #FADE85;
}

.styled-button--variant-transparent-black::after {
    background-color: #2F240E;
}

.styled-button--variant-transparent-inherit::after {
    background-color: inherit;
}

.styled-button:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.styled-button--size-S {
    padding: 8px 4px;
}

.styled-button--size-M {
    padding: 12px 24px;
}

.styled-button--size-L {
    padding: 16px 40px;
}

.styled-button--size-no-padding {
    padding: 0;
}
