.about-us-hero-section {
    margin-top: -96px;
    display: flex;
    flex-direction: column-reverse;


    @media only screen and (min-width: 992px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.about-us-hero-section__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 196px 96px 96px 40px;
}
