.header-desktop {
  display: none;

  @media only screen and (min-width: 992px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.header__left-column {
  display: flex;
  gap: 40px;
  justify-content: start;
  height: 100%;
}

.header__left-column button {
  z-index: 999;
  height: 100%;
}

.header__logo {
  margin-right: 20px;
}

.header__right-column {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.header__right-column button {
  z-index: 999;
  height: 100%;
}

.header__animated-quantity {
  display: inline-block;
  animation: rollout 0.4s;
}

@keyframes rollout {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
