.cart__root {
    padding: 0;
}

.cart__content {
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}

.cart__header {
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: #FAF6EF;
    border-bottom: 1px solid #2F240E;
    padding: 24px 16px;

    @media only screen and (min-width: 475px) {
        padding: 24px 24px;
    }

    @media only screen and (min-width: 992px) {
        padding: 24px 40px;
    }
}

.cart__animated-quantity {
    display: inline-block;
    animation: rollout 0.4s;
}

@keyframes rollout {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

.cart__title {
    display: flex;
    gap: 8px;
    align-items: flex-end;
}

.cart__body {
    background-color: #FAF6EF;

    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 0;
}

.cart__body-inner {
    height: 100%;
    padding: 24px 16px;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 24px;

    @media only screen and (min-width: 475px) {
        padding: 24px 24px;
    }

    @media only screen and (min-width: 992px) {
        padding: 24px 40px;
    }
}

.cart__footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 16px;
    border-top: 1px solid #2F240E;

    @media only screen and (min-width: 475px) {
        padding: 24px 24px;
    }

    @media only screen and (min-width: 992px) {
        padding: 24px 40px;
    }
}

.cart__footer-costs {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.cart__footer-info-row {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 24px;
}

.cart__footer-button-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
