.header-wrapper {
  position: sticky;
  top: 0;
  display: grid;
  width: 100%;
  margin: 0;
  height: 96px;
  align-items: center;
  z-index: 999;
}

.header--color-off {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FAF6EF;
  z-index: -1;
  transition: 300ms;

  opacity: 0;
  @media only screen and (min-width: 992px) {
    opacity: 0;
  }
}

.header--colored-on-mobile {
  opacity: 1;
  border-bottom: 1px solid #2F240E;

  @media only screen and (min-width: 992px) {
    opacity: 0;
  }
}

.header--color-on {
  opacity: 1;
  border-bottom: 1px solid #2F240E;
}



.header--black-variant {
  color: #2F240E;
}

.header--yellow-variant {
  color: #FADE85;
}
