.color-swatch {
    display: flex;
    gap: 24px;
}

.color-swatch {
    position: relative;
    height: 16px;
    width: 20px;
    margin: 2px;
    border-radius: 9999px;
    cursor: pointer;
}

.color-swatch--is-picked::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    height: 20px;
    width: 20px;
    border-radius: 9999px;
    border: 1px solid #2F240E;
}
